@model IEnumerable<ManageAndStorage.Models.Item>
@{
    ViewData["Title"] = "Custom saling list";
    int DisplayId = 1;
}

@if(@Model.Count() != 0){
    <a asp-action="Index" class = "btn btn-success ml-2 mt-2">Confirm The Sale</a>
}
<table class="table table-success table-striped mt-4 w-100">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope = "col">Number Of Items</th>
            <th scope = "col">Price</th>
            <th>Options</th>
        </tr>
    </thead>
    <tbody>
        @if(Model.Count() == 0){
            <tr>
                <th scope="row"></th>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        }
        else{
            foreach (var item in Model)
            {
                <tr>
                    <th scope="row">@DisplayId</th>
                    <td>@item.Name</td>
                    <td>
                        <form method="POST" asp-controller="Item" asp-action = "UpdateListWithId" asp-route-Id = "@item.Id" asp-route-ItemId="@item.ItemId">
                            <input type="number" min="1" value="@item.NumberOfItems" name = "NewSales">
                        </form>
                    </td>
                    <td class = "price">@item.Sum</td>
                    <td>
                        <a asp-action="DeleteItem" asp-route-ID="@item.Id" asp-route-NumberOfItems = "@item.NumberOfItems">Delete</a>
                    </td>
                </tr>
                DisplayId++;
            }
        }
    </tbody>
</table>
<script>
    let test = document.getElementsByClassName("price"),
        num;

    for(i = 0 ; i < @Model.Count()-0 ; i++){
        num = test[i].innerHTML;
        test[i].innerHTML = parseFloat(num).toPrecision(4);
    }
</script>