@model IEnumerable<ManageAndStorage.Models.Item>
@{
    ViewData["Title"] = "Items";
}
<head>
    <style>
        #filter:hover{
            cursor: pointer;
        }
    </style>
</head>
<div style="width:100%;display:flex">
    <form method="POST" asp-action = "SearchName">
        <input class="form-control form-control-lg mt-3 mr-3" type="search" placeholder="Item Name" aria-label=".form-control-lg example" style="text-indent: 5px; display:inline;width:98%;font-size:18px" name="Pattren">
    </form>
    <form method="POST" asp-action = "SearchId">
        <input class="form-control form-control-lg mt-3 mr-3" type="search" placeholder="Item Id" aria-label=".form-control-lg example" style="text-indent: 5px; display:inline;width:98%;font-size:18px" name="Pattren">
    </form>
    <form method="POST" asp-action="Fitering" id="filterForm">
        <select id="filter" class="form-control form-control-lg mt-3 mr-3" style="text-indent: 5px; display:inline;width:98%;font-size:18px" name = "FilterOption">
            <option disabled>Filter</option>
            <option>Last Day</option>
            <option>Last Week</option>
            <option>Last Month</option>
        </select>
        <input type="text" hidden name = "LastWeek" id = "LastWeek">
        <input type="submit" value="Apply the Filtring?" class="form-control form-control-lg mt-3 mr-3 btn btn-success" style="text-indent: 5px; display:inline;width:98%;font-size:18px">
    </form>
</div>


<table class="table table-success table-striped mt-4 w-100">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope = "col">Goods sold</th>
            <th scope = "col">Price</th>
            <th scope = "col">Sale Date</th>
        </tr>
    </thead>
    <tbody>
        @if(Model.Count() == 0){
            <tr>
                <th scope="row"></th>
                <td></td>
                <td></td>
            </tr>
        }
        else{
            int DisplayId = 1;
            foreach (var item in Model)
            {
                <tr>
                    <th scope="row">@DisplayId</th>
                    <td>@item.Name</td>
                    <td>@item.NumberOfItems</td>
                    <td class = "price">@item.Sum</td>
                    <td>@item.SaleDate</td>
                </tr>
                DisplayId++;
            }
        }
    </tbody>
</table>
<script>
    let test = document.getElementsByClassName("price"),
        num;
    const filterForm = document.getElementById("filterForm");

    for(i = 0 ; i < @Model.Count()-0 ; i++){
        num = test[i].innerHTML;
        test[i].innerHTML = parseFloat(num).toPrecision(4);
    }
    filterForm.addEventListener("submit", (el)=>{
        el.preventDefault();
        const currentDate = new Date(),
              LastWeek = document.getElementById("LastWeek");

        if(document.getElementById("filter").value == "Last Day"){
            const previous= new Date(currentDate.getTime() - 1 * 24 * 60 * 60 * 1000);
            LastWeek.value = previous.toISOString();
        }
        else if(document.getElementById("filter").value == "Last Week"){
            const previous= new Date(currentDate.getTime() - 7 * 24 * 60 * 60 * 1000);
            LastWeek.value = previous.toISOString();
        }
        else{
            console.log("last month");
            const previous= new Date(currentDate.getTime() - 30 * 24 * 60 * 60 * 1000);
            LastWeek.value = previous.toISOString();
        }
        filterForm.submit();
    }, false);
</script>